# Ignore virtual environment
venv/

# Ignore database file
db.sqlite3

# Ignore static files
staticfiles/

# Ignore media files
media/

# Ignore any local settings file
local_settings.py
migrations/__init__.py